body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-y: hidden;
  }

  #sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    color: white;
    transition: 0.5s;
  }

  #sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  #sidebar a:hover {
    color: #f1f1f1;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 16px;
    margin-left: 250px;
  }

  .open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    position: fixed;
    right: 0;
    margin-top: 1px;
    display: none; 
    transition: all 0.5s;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .open-btn:hover {
    background-color: #444;
  }

  .online
  {
    margin-top: 0.75rem;
  }

  #close_btn
  {
    display: none;
  }



  .chat-container {
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }

  .chat-header {
    background-color: #25D366;
    color: #fff;
    padding: 12px;
    text-align: center;
    font-size: 18px;
  }

  .chat-messages {
    padding: 10px;
    max-height: 430px;
    overflow-y: auto;
  }

  .message {
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
  }

  .message .user {
    font-weight: bold;
  }

  .message .timestamp {
    font-size: 0.8em;
    color: #888;
    margin-left: 10px;
  }

  .message .content {
    padding: 8px;
    border-radius: 4px;
    max-width: 96%;
    word-wrap: break-word;
  }

  .chat-input {
    display: flex;
    background-color: #f0f0f0;
    padding: 10px;
  }

  .input-field {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }

  .send-button {
    background-color: #25D366;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }

  #leave_room_btn,
  #room_details
  {
    transition: all 1s ease-in;
  }

  #leave_room_btn:active,
  #room_details:active
  {
    scale: 0.5;
  }


  @media screen and (max-width: 768px) {
    #sidebar {
      left: -250px;
    }
    
    .chat-container
    {
        margin-top: 50px;
    }

    .chat-messages {
        max-height: 390px;
      }

    #main {
      margin-left: 0;
    }

    .online
    {
      margin-top: 5rem;
    }

    #close_btn
    {
      display: block;
    }

    .open-btn {
      display: block;
    }
  }